h1 {
    color: blueviolet;
    text-align: center;
    border: 4px solid rgba(255, 175, 87, 0.5);
}

body {
    background-image:url(backgroundbody.jpg);
    background-size: 100% 100%;

    
}

li {
    list-style: none;
    display: inline-block;
    
}

.container {
    text-align: center;
}

.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }

  #cadastro {
      display: none;
  }